# Titanic Data #

## Questions on data ##

What factors made people more likely to survive?

## Variables ##

** Dependent Variable: **
   - Survival Rate
   
** Independent Variable: **
   - Sex
   - Age
   - Pclass
   - SibSp

## Analysis of data in dataset ##

### Structure of dataset ###

In [354]:
import pandas as pd
import seaborn as sns

filename = 'titanic-data.csv'
titanic_df = pd.read_csv(filename)

In [355]:
titanic_df.columns

Index([u'PassengerId', u'Survived', u'Pclass', u'Name', u'Sex', u'Age',
       u'SibSp', u'Parch', u'Ticket', u'Fare', u'Cabin', u'Embarked'],
      dtype='object')

In [356]:
titanic_df.head(15)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S

### Problems in the dataset ###

In [357]:
titanic_df.count()

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64

Not for all passengers the 'Age' is available

Not for all passengers 'Cabin' available

Not for all passengers 'Embarked' is available

### Analysis of dataset ###

#### Survival Rate ####

In [358]:
def survival_rate(dataframe):
    return float(dataframe['Survived'][dataframe['Survived'] == 1].count()) / float(dataframe['Survived'].count())

In [359]:
'Survival Rate of passengers in dataset: ' + str(round(survival_rate(titanic_df) * 100,1)) + '%'

'Survival Rate of passengers in dataset: 38.4%'

#### Survival Rate dependent on Sex of passengers ####

In [360]:
'Survival Rate of male passengers in dataset: '  + str(round(survival_rate(titanic_df[titanic_df['Sex'] == 'male']) * 100,1)) +  '%'

'Survival Rate of male passengers in dataset: 18.9%'

In [361]:
'Survival Rate of female passengers in dataset: ' + str(round(survival_rate(titanic_df[titanic_df['Sex'] == 'female']) * 100,1)) + '%'

'Survival Rate of female passengers in dataset: 74.2%'

** Conclusion **

The Survival rate of the female passengers (74,2%) in the dataset is higher than the overall survival rate (38.4%) and higher than the survival rate of the male passengers (18.9%). This is due the fact that female passengers got easier a place in  the rescue vessels.